<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
  package="com.stupidbeauty.hxlauncher"
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:installLocation="auto" >
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application
    android:theme="@style/AppTheme"
    android:largeHeap="true"
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:fullBackupContent="@xml/mybackupscheme"
    android:networkSecurityConfig="@xml/network_security_zzaqvj"
    tools:ignore="GoogleAppIndexingWarning">
    <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    <activity android:name="com.stupidbeauty.hxlauncher.LauncherActivity" android:launchMode="singleInstance" 
      android:windowSoftInputMode="stateAlwaysHidden"
      android:theme="@style/AppTheme" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.stupidbeauty.hxlauncher.UnLinkActivity" android:launchMode="singleInstance" android:windowSoftInputMode="stateAlwaysHidden"
      android:label="@string/unlink_not_right" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="com.stupidbeauty.hxlauncher.activity.FakeLauncherActivity" android:launchMode="singleInstance"
      android:windowSoftInputMode="stateAlwaysHidden" android:enabled="false" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.stupidbeauty.hxlauncher.activity.PinShortcutConfirmActivity" android:launchMode="singleInstance"
      android:windowSoftInputMode="stateAlwaysHidden" >
      <intent-filter>
        <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.stupidbeauty.hxlauncher.SettingsActivity" android:label="@string/hxLauncherSettings" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".activity.ApplicationInformationActivity" android:theme="@style/AppTheme" android:launchMode="singleInstance" />
    <activity android:name=".activity.ApplicationUnlockActivity" android:theme="@style/AppTheme" android:launchMode="singleInstance" />
    <activity android:name=".AutoRunSettingsActivity" android:theme="@android:style/Theme.Holo.Light"/>
    <activity android:name=".ApplicationFrequencySettingsActivity" android:theme="@android:style/Theme.Holo.Light"/>
    <activity android:name=".ApplicationAliasSettingsActivity" android:theme="@android:style/Theme.Holo.Light"/>
    <activity android:name=".activity.AccountActivity" android:label="@string/myAccount" />
    <receiver android:name="com.stupidbeauty.shutdownat2100androidnative.BootBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
    <service android:name="com.stupidbeauty.hxlauncher.service.DownloadNotificationService" android:exported="true" tools:ignore="ExportedService">
    </service>
  </application>
</manifest>
